:root {
  --correct: hsla(134, 31%, 32%, 1);
  --correct-light: hsla(134, 68%, 95%, 1);

  --light-gray: rgb(202, 202, 202);
  --moodle-blue-lighter: hsla(194, 55%, 98%, 1);
  --moodle-blue-light: hsla(194, 60%, 96%, 1);
  --moodle-blue: #def2f8;
  --moodle-blue-dark: #c7e4e4;
  --moodle-blue-darker: #81b1b1;
  --moodle-blue-darkest: rgb(87, 119, 119);
  --moodle-alt-light: #fff8e2;
  --moodle-alt: #fcefdc;
  --moodle-alt-dark: #b8945e;
  --moodle-alt-darker: #7d5a29;
  --moodle-alt-darkest: #2b2101;
  --moodle-error-light: #fff0f0;
  --moodle-error: #f3d8d8;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  line-height: 1.5rem;
}

body {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem, 0rem;
}

.moodle-blue {
  color: var(--moodle-blue);
}

.moodle-blue-dark {
  color: var(--moodle-blue-dark);
}

.moodle-blue-darker {
  color: var(--moodle-blue-darker);
}

.title {
  display: flex;
  font-weight: bold;
}

.feedback {
  color: var(--moodle-blue-darkest);
}

.question-type {
  color: var(--moodle-blue-darkest);
  margin-left: auto;
  padding-left: 0.75rem;
  flex: none;
}

.question-type .raised {
  box-shadow: 0px 1px 3px var(--light-gray);
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 4px;
  background-color: var(--moodle-blue-lighter);
}

.category .question-type .raised {
  font-size: var(--vscode-font-size);
}

.weight {
  background-color: var(--moodle-alt-light);
  box-shadow: 0px 1px 1px var(--light-gray);
  border-radius: 3px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  color: var(--moodle-alt-darker);
}

.weight-correct {
  color: var(--correct);
  background-color: var(--correct-light);
}

.icon {
  vertical-align: text-bottom;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.moodle {
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--moodle-blue-light);
  border: solid var(--moodle-blue-dark) 1px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px var(--light-gray);
}

.moodle-alt {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--moodle-alt-light);
  color: var(--moodle-alt-darkest);
  border: solid var(--moodle-alt) 1px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px var(--light-gray);
}

.moodle-error {
  background-color: var(--moodle-error-light);
  border: solid var(--moodle-error) 1px;
}

.category {
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  font-size: calc(var(--vscode-font-size) * 1.25);
  background-color: var(--moodle-blue-light);
  border: solid var(--moodle-blue-dark) 1px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px var(--light-gray);
}

.vscode-light {
  color: #333;
}

.vscode-dark {
  color: #333;
  background-color: #fff;
}

.vscode-high-contrast {
  color: #000;
  background-color: #fff;
}

.vscode-light .moodle {
  background-color: var(--moodle-blue-light);
}

.vscode-light .moodle-error {
  background-color: var(--moodle-error-light);
}

/* .vscode-light .code-active-line .moodle {
  background-color: #fcefdc;
} */

.vscode-dark .moodle {
  background-color: var(--moodle-blue-light);
}

.vscode-dark .moodle-error {
  background-color: var(--moodle-error-light);
}

/* .vscode-dark .code-active-line .moodle {
  background-color: #fcefdc;
} */

.vscode-high-contrast .moodle {
  background-color: #7adffd;
}

/* .vscode-high-contrast .code-active-line .moodle {
  background-color: #ffcb7c;
} */

select {
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark-color(white, black);
  cursor: default;
  margin: 0em;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

textarea {
  width: 100%;
  height: 7rem;
}

input {
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-select {
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  color: #495057;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 0.6em;
  background-position: calc(100% - 0.5em) center;
  background-repeat: no-repeat;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  vertical-align: baseline;
}

.custom-input {
  padding: 0.2em 0 0.2em 0;
}

.action-button {
  width: 4rem;
  height: 4rem;
  background-color: #32424a;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.15s ease-in-out;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  line-height: 4rem;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  font-weight: 600;
  transform: scale(0.93);
  opacity: 0.35;
  user-select: none;
}

.action-button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1);
  opacity: 1;
}

.action-button:active {
  background-color: #10181d;
  transform: scale(0.85);
  opacity: 1
}

.markdown-body table {
  width: 100%;
  display: table;
}

.markdown-body td {
  width: 50%;
}